.main {
    font-family: Verdana, sans-serif;
}
.wrapper {
    background: url("../img/site-back.png");
    background-size: cover;
    min-height: 100vh;
}
.header-line {
    height: 55px;
    background: rgba(0,0,0,.41);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    margin-left: 80px;
    transition: color 200ms;
}
.logo:hover {
    color: #3cb878;
}
.icon {
    display: inline-block;
    height: 20px;
    width: 26px;
    background: url("../img/icons.png");
    /*transition: background-position .8s; !* Мне показалось милым. :) *!*/
}
.icon:not(:last-of-type) {
    display: inline-block;
    float: left;
    margin-right: 25px;
}
.i-calendar {
    background-position: -8px -6px;
}
.i-forum {
    background-position:  -57px -6px;
}
.i-journey {
    background-position:  -111px -6px;
}
.i-calendar:hover {
    background-position: -8px 31px;
}
.i-forum:hover {
    background-position: -57px 31px;
}
.i-journey:hover {
    background-position: -111px 31px;
}
.header-icons::after {
    content: '';
    height: 18px;
    width: 1px;
    background: #31302e;
    margin: 0 15px;
    display: inline-block;
}
.header-right-bar {
    margin-right: 80px;
}
.header-right-bar > * {
    display: inline-block;
    vertical-align: middle;
}
.header-icons {
    height: 19px;
}
.header-right-welcome a {
    color: #3cb878;
    text-decoration: none;
}
.header-right-welcome a:hover {
    text-decoration: underline;
}
#sign-up-window {
    width: 445px;
    height: 580px;
    background: #fff;
    border-radius: 15px;
    position: absolute;
    top: calc(50% + 27.5px);
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 60px;
    box-sizing: border-box;
}
#sign-up-window::before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 30px;
    background: #3cb878;
    transition: top 1s;
    animation: form 1s ease;
    animation-delay: .5s;
}
.window-header{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.sign-up-h {
    font-size: 20px;
    color: #434343;
}
.log-in-sub-h {
    font-size: 16px;
    color: #3cb878;
    text-decoration: none;
}
.log-in-sub-h:hover {
    text-decoration: underline;
}
.social-buttons {
    display: flex;
    font-size: 16px;
    color: #fff;
    justify-content: space-around;
    margin: 15px 0;
}
.social-buttons > * {
    width: 155px;
    height: 45px;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.social-buttons i {
    position: relative;
    font-size: 20px;
    width: 50px;
    text-align: center;
}
.social-label {
    flex-grow: 1;
    text-align: center;
}
.social-buttons i::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    right: 0;
    top: 0;
    background: rgba(0,0,0,.3);
}
.icon-link {
    text-decoration: none;
    color: #fff;
}
.facebook {
    background: #305db8;
    transition: background 200ms;
}
.facebook:hover {
    background: #264b96;
}
.google {
    background: #df4a32;
    transition: background 200ms;
}
.google:hover {
    background: #c3412c;
}
.hr-or {
    color: #848484;
    font-size: 14px;
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.hr-or::before, .hr-or::after {
    content: '';
    display: inline-block;
    height: 1px;
    width: 40%;
    background: #eaeaea;
    vertical-align: middle;
}
input {
    border-radius: 5px;
    border: 1px solid #eaeaea;
}
input:not([type="checkbox"]) {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
input[placeholder] {
    box-sizing: border-box;
    color: #bebebe;
    font-size: 14px;
    padding-left: 20px;
    outline: none;
}
.register {
    display: block;
}
input:not([type="checkbox"]):focus {
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    color: #000;
}
input[type="checkbox"] {
    display: none;
}
.force-checkbox {

}
div.checkbox {
    position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    vertical-align: middle;
}
.force-checkbox span {
    position: absolute;
    height: 3px;
    display: block;
    background: green;
    border-radius: 1px;
}
.line1 {
    width: 7px;
    transform: rotate(45deg);
    left: 1px;
    top: 8px;
}
.line2 {
    width: 12px;
    transform: rotate(-45deg);
    left: 4px;
    top: 7px;
}

.submit-checkbox:not(:checked) + .checkbox > .lines{
    display: none;
}
.c-description {
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
    vertical-align: middle;
}
.c-description a {
    text-decoration: none;
    color: #3cb878;
}
.c-description a:hover {
    text-decoration: underline;
}
input[type="submit"] {
    margin-top: 20px;
    color: #fff;
    font-size: 16px;
    background: #3cb878;
    transition: background 200ms;
}
input[type="submit"]:hover {
    background: #329a65;
}

@keyframes form {
    0% {
        top: 30px;
    }
    50% {
        top: 50px;
    }
    100% {
        top: 30px;
    }
}